[submodule "content/stylesheets"]
	path = content/stylesheets
	url = git@github.com:michaelbarton/common-compass-stylesheet.git
[submodule "content/code"]
	path = content/code
	url = git://github.com/michaelbarton/scaffolder.git
