- if @site.config[:site][:navigation]
  %div{:role => "navigation"}
    %ul
      - @site.config[:site][:navigation].each do |name,href|
        %li
          %a{:href => relative_path_to(href)}
            = name
